# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [3]:
S="Hi there Sam"
y=S.split()
print(y)

['Hi', 'there', 'Sam']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [17]:
planet="earth"
diameter= 12742
print(planet)
print(diameter)
intro=(f"the diameter of"f"{planet}"f"{diameter}"f"kilometers")
print(intro)

earth
12742
the diameter ofearth12742kilometers

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [26]:
d={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d[3:4])

TypeError: ignored

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [4]:
import numpy as np
array=np.zeros(10)
print(array)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [5]:
import numpy as np 
array=np.ones(10)*5
print(array)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [7]:
max=35
for num in range(20,max+1,2):
 print("{0}".format(num))

20
22
24
26
28
30
32
34

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [19]:
import numpy as np
x=np.arange(0,9).reshape(3,3)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [11]:

import numpy as np
a=np.array([1,2,3])
print(a)
b=np.array([4,5,6])
print(b)
print(np.concatenate((a,b)))

[1 2 3]
[4 5 6]
[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [27]:
import pandas as pd 
import numpy as np
a= np.random.randint(10,size=(3,2))
print(a)

[[2 6]
 [3 7]
 [7 6]]

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [20]:
import pandas as pd 
from datetime import datetime
pd.date_range(start= "2023-01-01",end="2023-02-10")

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [22]:
list =[[1,'aaa',22],[2,'bbb',25],[3,'ccc',24]]
df=pd.DataFrame(list,columns=['number','name','age'])
print(df)

   number name  age
0       1  aaa   22
1       2  bbb   25
2       3  ccc   24